# =============================================================================
# Backend — Yaman Kutx Ecosistema (Plantilla Go)
# =============================================================================

PORT=8001

# Ruta a la llave pública de Laravel Passport (RS256), hay que crear la carepta
#keys y ahi colocar la llave publica
OAUTH_PUBLIC_KEY_PATH=./keys/oauth-public.key

# Origins permitidos para CORS
ALLOWED_ORIGINS=http://localhost:5190

# URL Visual del Frontend (Para redirecciones Anti-JSON)
APP_URL_FRONTEND=http://localhost:5190

# URL de la App Madre (Laravel)
APP_MADRE_URL=http://localhost:8000

# Base de datos local MySQL (caché de usuarios y agencias)
# Selecciona el driver: mysql | postgres
DB_DRIVER=mysql
DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/creditos

# -----------------------------------------------------------------------------
# Alternativa PostgreSQL
# -----------------------------------------------------------------------------
#DB_DRIVER=postgres
#DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/creditos?sslmode=disable

